*{
    box-sizing: border-box;
    text-align: center;
}

body{
    font-size:24px;
    line-height: 32px;
    color:#333;
    width:70%;
    margin-left:165px;
    background:gray;
}

header{
    padding:20px;
    margin-bottom: 10px;
    color:#333;
    background:lightgray;
}

nav{
    padding:20px;
    margin-bottom:10px;
    color:#333;
    background:lightgray;
}

#section{
    float:left;
    padding:20px;
    width: 58%;
    height:260px;
    color: #333;
    background:lightgrey;
}

#aside{
    float:right;
    width:40.3%;
    height:260px;
    padding:20px;
    color:#333;
    background:lightgrey;
}

#article{
    position: absolute;
    float: left;
    top:240px;
    left:148px;
    height:180px;
    z-index: 1;
    width: 40%;
    padding:10px;
    color: #333;
    background: gray;
}

#heading{
    position: absolute;
    float:left;
    width:40%;
    top:300px;
    left:160px;
    padding:10px;
    z-index: 2;
    color:#333;
    background:lightgrey;
}

#leftParagraph{
    position: absolute;
    float: left;
    left:160px;
    bottom:200px;
    width: 40%;
    padding:10px;
    z-index: 3;
    color: #333;
    background:lightgrey;
}

footer{
    padding:20px;
    clear:both;
    color:#333;
    background:lightgrey;
}

